
.mainContent {
  overflow: hidden;
  .mainContentWrapper {
    display: flex;
    height: 100vh;
    @include respond-below(md){
      flex-direction: column;
      height: auto;
    }
    .leftSide {
      position: relative;
      cursor: url(../images/planet.png), auto;
      max-width: 300px;
      flex:1;
      background-image: url("../images/bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color:$default_color;
      padding:25px;
      background-position-x: 35%;
      animation: bganimate 5s linear infinite;
      -webkit-animation: bganimate 5s linear infinite; /* Safari 4+ */
      -moz-animation:    bganimate 5s linear infinite; /* Fx 5+ */
      -o-animation:      bganimate 5s linear infinite; /* Opera 12+ */
      @include respond-below(md){
        max-width: 100%;
        width:100%;
      }
      .profilePicture {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        .radiusImage {
          border-radius: 100%;
          height: 150px;
          width: 150px;
          overflow: hidden;
          border:2.5px solid #ffffff;
          animation: flashbang 1.5s linear infinite;
          -webkit-animation: flashbang 1.5s linear infinite; /* Safari 4+ */
          -moz-animation:    flashbang 1.5s linear infinite; /* Fx 5+ */
          -o-animation:      flashbang 1.5s linear infinite; /* Opera 12+ */
          img {
            max-width:100%;
            height: auto;
          }
        }
      }
      .profileTitles {
        text-align: center;
        margin-top:25px;
        .name {
          font-weight: 500;
          font-size:32px;
        }
        .title {
          font-weight: 300;
          font-size:15px;
          margin-top:5px;
        }
      }
      .socialPlatforms {
        display: flex;
        justify-content: center;
        margin-top:50px;
        ul {
          padding:0;
          margin:0;
          display: flex;
          li {
            list-style: none;
            margin-right:10px;
            z-index: 99;
            &:last-child{
              margin-right:0;
            }
            a {
              display: block;
              i {
                color:$default_color;
                font-size:26px;
                &:hover {
                  text-shadow: 0px 0px 12px #a0267ebf;
                }
              }
            }
          }
        }
      }
      .particles {
        position: absolute;
        top: 0;
        left: 0;
        img {
          height:100vh;
          opacity:0.1;
        }
      }
    }
    .rightSide {
      flex:2;
      background: linear-gradient(57deg, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 100%);
      color:$default_color;
      display: flex;
      justify-content: center;
      align-items: center;
      position:relative;
      .profileSummary {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        .infoBoxesWrapper {
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          width:75%;
          margin:25px 0 0 0;
          @include respond-below(lg){
            width:90%;
          }
          .infoBoxes {
            border: 3px solid $default_color;
            min-width: calc(25% - 10px);
            text-align: center;
            margin: 0 5px;
            color:$default_color;
            text-decoration: none;
            font-size:1vw;
            font-weight: 400;
            letter-spacing: 10px;
            transition: font-weight, font-size ease .5s;
            padding:25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &.activeLink {
              background:red;
            }
            &:hover {
              background: url(../images/boxesBackground.png) no-repeat center center;
              background-size: cover;
              font-weight: bold;
            }
            @include respond-below(md){
              border-width:1px;
              letter-spacing: 5px;
            }
            @include respond-below(sm){
              margin: 5px;
              font-size: 14px;
              padding: 10px 0;
              min-width: calc(50% - 10px);
            }
          }
          }
        }
      .about {
        display: block;
      }
      .projects {
        display: none;
        overflow-y: auto;
        height: 100%;
        width:100%;
        .projectsContent {
          display: flex;
          flex-wrap: wrap;
          width:100%;
          padding:15px;
          .projectSingle {
            width:calc(25% - 10px);
            margin:15px 5px;
            @include respond-below(1200px){
              width:calc(33.333% - 10px);
            }
            @include respond-below(md){
              width:calc(50% - 10px);
            }
            .singleImage {
              position: relative;
              overflow: hidden;
              .visitWebsite {
                background: #000000a6;
                position: absolute;
                width: 100%;
                top: 0;
                height: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity:0;
                transition:all cubic-bezier(0, 0.99, 0.58, 1) .5s;
                a {
                  color: #fff;
                  text-decoration: none;
                  font-weight: 500;
                  font-size: 14px;
                  background: #281c3c;
                  padding: 15px 35px;
                  border-radius: 20px;
                  letter-spacing: 5px;
                  border:2px solid #d0d0d0;
                  transition: transform ease .5s;
                  @include respond-below(1400px){
                    padding: 10px 25px;
                    font-size:10px;
                  }
                  @include respond-below(md){
                    padding: 10px 25px;
                    font-size:10px;
                  }
                  &:hover {
                    transform: translateY(-5px);
                  }
                }
              }
              &:hover {
                .visitWebsite {
                  height: 100%;
                  opacity:1;
                }

              }
            }
            .projectTitle {
              text-align: center;
              font-size: 18px;
              text-transform: uppercase;
              margin: 10px 0 0 0;
            }
          }
        }
      }
      .personel {
        display: none;
      }
      .contact {
        display: none;
      }
      }
    }
  }
