
.mainContent {
  overflow: hidden;
  .mainContentWrapper {
    display: flex;
    height: 100vh;
    @include respond-below(md){
      flex-direction: column;
      height: auto;
    }
    .leftSide {
      position: relative;
      cursor: url(../images/planet.png), auto;
      max-width: 300px;
      flex:1;
      background-image: url("../images/bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color:$default_color;
      padding:25px;
      background-position-x: 35%;
      animation: bganimate 5s linear infinite;
      -webkit-animation: bganimate 5s linear infinite; /* Safari 4+ */
      -moz-animation:    bganimate 5s linear infinite; /* Fx 5+ */
      -o-animation:      bganimate 5s linear infinite; /* Opera 12+ */
      @include respond-below(md){
        max-width: 100%;
        width:100%;
      }
      .profilePicture {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        .radiusImage {
          border-radius: 100%;
          height: 150px;
          width: 150px;
          overflow: hidden;
          border:2.5px solid #ffffff;
          animation: flashbang 1.5s linear infinite;
          -webkit-animation: flashbang 1.5s linear infinite; /* Safari 4+ */
          -moz-animation:    flashbang 1.5s linear infinite; /* Fx 5+ */
          -o-animation:      flashbang 1.5s linear infinite; /* Opera 12+ */
          img {
            max-width:100%;
            height: auto;
          }
        }
      }
      .profileTitles {
        text-align: center;
        margin-top:25px;
        .name {
          font-weight: 500;
          font-size:32px;
        }
        .title {
          font-weight: 300;
          font-size:15px;
          margin-top:5px;
        }
      }
      .socialPlatforms {
        display: flex;
        justify-content: center;
        margin-top:50px;
        ul {
          padding:0;
          margin:0;
          display: flex;
          li {
            list-style: none;
            margin-right:10px;
            z-index: 99;
            &:last-child{
              margin-right:0;
            }
            a {
              display: block;
              i {
                color:$default_color;
                font-size:26px;
                &:hover {
                  text-shadow: 0px 0px 12px #a0267ebf;
                }
              }
            }
          }
        }
      }
      .particles {
        position: absolute;
        top: 0;
        left: 0;
        img {
          height:100vh;
          opacity:0.1;
        }
      }
    }
    .rightSide {
      flex:2;
      background: linear-gradient(57deg, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 100%);
      color:$default_color;
      display: flex;
      justify-content: center;
      align-items: center;
      position:relative;
      .profileSummary {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding:25px;
        @include respond-below(md){
          padding:5px;
        }
        .infoBoxesWrapper {
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          width:100%;
          justify-content: center;
          ul {
            padding:0;
            margin:0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            border-bottom:1px solid $default_color;
            width:100%;
            @include respond-below(md){
              justify-content: center;
            }
            li {
              list-style: none;
              margin-right: 25px;
              position: relative;
              &.active-li {
                &:after {
                  content: "";
                  position: absolute;
                  bottom: -1.5px;
                  left: 0;
                  width: 100%;
                  height: 3px;
                  background: #f1e05a;
                }
              }
              &:last-child {
                margin-right: 0;
              }
              a {
                color : $default_color;
                text-decoration: none;
                display: flex;
                padding:15px;
                font-weight: 500;
                @include respond-below(md){
                  padding:7px;
                }

              }
              .projectsCount {
                background: gray;
                color: #fff;
                border-radius: 50%;
                display: inline-block;
                font-size: 11px;
                margin-left: 5px;
                padding: 5px 8px;
                font-family: sans-serif;
                @include respond-below(md){
                  padding:0 5px;
                }
              }
              &:hover {
                  &:after {
                    content: "";
                    position: absolute;
                    bottom: -1.5px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: #f1e05a;
                }
              }
              @include respond-below(md){
                font-size:14px;
              }
              @include respond-below(321px){
                font-size:11px;
              }
            }
          }
          }
        }
      .about {
        display: block;
        width:100%;
        .aboutText {
          .typedText {
            font-size:5rem;
            font-weight:300;
            @include respond-below(sm){
              font-size:2rem;
            }
          } 
          .aboutTextDesc {
            opacity: 0;
            font-size:5rem;
            font-weight: 600;
            @include respond-below(sm){
              font-size:2rem;
            }
          }  
        }
        

      }

      }
    }
  }

  